/* Center the heading */
h1 {
    text-align: center;
}

/* Reset list styles and use Flexbox for the list */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Flexbox for header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
}

/* Style for clickable elements */
span {
    cursor: pointer;
}

/* Flexbox for navigation */
nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.select-container {
    position: relative;
}

.select-status {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    cursor: pointer;
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the arrow doesn't interfere with click events */
}

.select-arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #000 transparent transparent transparent;
    transform: translateY(-50%);
}

.select-status:hover,
.select-status:focus {
    border-color: #007bff;
}

