.product-card {
    background-color: #fffff1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
    width: 300px;
    height: auto;
}

.product-card:hover {
    transform: translateY(-1px);
}

.product-content {
    padding: 10px;
}

.product-name,
.product-category,
.product-quantity,
button {
    font-size: 1rem;
}

.larger-text {
    font-size: 1.5rem;
}

.smaller-text {
    font-size: 1.2rem;
    color: #555;
    font-style: italic;
}
